.header__Container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
}

.header__InnerContainer {
  width: 250px;
  display: flex;
  padding-bottom: 10px;
  justify-content: space-evenly;
  align-items: end;
}

.searchBox > form {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 12px;
  gap: 8px;

  width: 353px;
  height: 22px;
  background: #EFEFEC;
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.searchBox > form > button {
  border: none;
}

.searchBox__input {
  border: none;
  background-color: #efefec;
  color: #656e5e;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  flex: none;
  order: 1;
  flex-grow: 1;
}


@media only screen and (min-width: 750px) {
  .header__Container {
    flex-direction: row;
    align-items: center;
    grid-area: header;
  }

  .header__InnerContainer {
    padding-bottom: 0;
  }

  .searchBox {
    margin-right: 36px;
  }
}