.placesOuterContainer {
  /* General styling choices */
  background: #EFEFEC;
  height: auto;


  /* displaying interior items */
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.changePanelBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  gap: 12px;

  position: absolute;
  width: 117px;
  height: 48px;
  left: 40%;
  bottom: 10px;

  background: #2C5601;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 999px;
}

@media only screen and (max-width: 749px) {
  .placesOuterContainer {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
}

@media only screen and (min-width: 750px) {
  .placesOuterContainer {
    grid-area: list;
    padding: 24px;
  }
}