.restaurantContainer {
  /* General Styling */
  margin: 0 0 10px 0;
  max-width: 432px;
  padding: 16px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px -1px rgba(66, 82, 110, 0.2);
  border-radius: 16px;

  /* Place the interior items correctly */
  display: flex;
  flex-direction: row;
  align-items: end;
}

@media only screen and (max-width: 749px) {
  .restaurantContainer {
    width: 100%;
  }
}

.restaurantContainer.selected {
  border: 3px solid #2C5601;
}

.restaurantImg {
  width: 64px;
  height: 72px;
}

.restaurantDetails__Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 0 0 0 13px;
}

.restaurantDetails__NameBtn {
  display: flex;
  background-color: #fff;
  border: none;
  padding: 0px;
  margin: 0px;

  /* Font Information */
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #2B381F;
}

.restaurantDetails__ReviewInfo {
  font-weight: 500;
  font-size: 13px;
}

.restaurantDetails__GreenStar {
  margin-right: 5px;
}

.restaurantDetails__Spacer {
  padding: 0 5px;
}

.restaurantDetails__Rating {
  color: #2b381F;
}

.restaurantDetails__Description {
  font-size: 13px;
  color: #656e5e;
}

.bookmarkContainer {
  flex-grow: 1;
  height: 100%;
  width: auto;

  /* Internal display settings */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
}